@use '../../base/styles/values.scss' as v;

.Template {
  .Header {
    align-items: center;

    // border-color: v.$SAKURA_BORDER;
    border-color: #000000;
    border-style: solid;
    border-bottom-width: 2px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;

    display: flex;

    height: 100px;

    justify-content: center;

    // Tempalte 에서 양옆 10px 정도를 잘랐다
    width: 100%;
  }
}