@use '../../../../base/styles/values.scss' as v;

.PitchRecordPage {
  .AddGameButton {
    align-items: center;
    border-color: #000000;
    border-radius: 12px;
    border-style: solid;
    border-width: 2px;

    cursor: pointer;
    display: flex;
    font-size: 24px;
    height: 32px;
    justify-content: center;
  
    transition: background-color 0.15s ease;
    width: 32px;

    &:hover {
      background-color: #c0c0c0;
    }
  }
}