@use '../../../../base/styles/values.scss' as v;

.Template {
  .SettingPage {
    .TitlePart {
      color: v.$SAKURA_TEXT;
      cursor: pointer;

      font-size: 24px;
      font-weight: 700;

      margin-top: 20px;

      user-select: none;
    }
  }
}