@use '../base/styles/values.scss' as v;

.Template {
  align-items: center;

  display: flex;
  flex-direction: column;

  min-height: 100vh;
  min-width: calc(100vw - 16px);

  width: 1904px;

  .Body_Template {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

    height: 100%;

    position: relative;

    width: 100%;

    .PageArea_Template {
      align-items: center;
      background-color: #AAAAAA;
      display: flex;
      flex-direction: column;
      justify-content: center;

      height: 100%;

      width: 100%;
    }
  }
}