@use '../../../../base/styles/values.scss' as v;

.Template {
  .Lefter {
    .PitchRecordRow {
      cursor: pointer;

      height: 60px;

      user-select: none;

      width: 100%;

      &:hover {
        background-color: v.$SAKURA_BG;
      }

      &._bold {
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
}