@use '../../../../base/styles/values.scss' as v;

.Template {
  .TeamPage {
    .OtherTeamSubPage {
      align-items: center;

      display: flex;
      flex-direction: column;
      height: 100%;

      width: 100%;

      .title_SubPage {
        cursor: pointer;
        font-size: 24px;
        font-weight: 700;

        height: fit-content;

        margin-top: 40px;

        user-select: none;

        width: fit-content;
      }

      .tableRow_SubPage {
        display: flex;
        flex-direction: row;
        height: fit-content;
        justify-content: center;
        gap: 60px;

        margin-top: 60px;

        width: 100%;

        .MainTableWrapper,
        .SubTableWrapper {
          align-items: center;
          display: flex;
          flex-direction: column;

          gap: 8px;

          height: fit-content;

          width: fit-content;

          .title_Table {
            font-size: 24px;
            font-weight: 700;

            padding-bottom: 2px;
            padding-top: 2px;

            text-align: center;

            width: fit-content;
          }
        }

        table {
          border-collapse: collapse;
          border-color: #000000;
          border-style: solid;
          border-width: 4px;
    
          thead {
            border-color: #000000;
            border-style: solid;
            border-bottom-width: 4px;
    
            font-size: 18px;
    
            th {
              border-color: #808080;
              border-style: solid;
              border-right-width: 1px;
              padding-top: 2px;
              padding-bottom: 2px;
            }
    
            .th_number {
              width: 60px;
            }
            .th_name {
              width: 120px;
            }
            .th_hand {
              width: 60px;
            }
            .th_pressure {
              width: 64px;
            }
          }
    
          tbody {
            td {
              border-color: #808080;
              border-style: solid;
              border-right-width: 1px;
    
              text-align: center;
            }
          }
        }
      }
    }
  }
}