@use '../../../../base/styles/values.scss' as v;

.Template {
  .TeamPage {
    .OtherTeamSubPage {
      align-items: center;

      display: flex;
      flex-direction: column;
      height: 100%;

      width: 100%;

      .title_SubPage {
        cursor: pointer;
        font-size: 24px;
        font-weight: 700;

        height: fit-content;

        margin-top: 40px;

        user-select: none;

        width: fit-content;
      }
    }
  }
}