@use '../../base/styles/values.scss' as v;

.Template {
  .Lefter {
    background-color: v.$SAKURA_BG;

    border-color: v.$SAKURA_BORDER;
    border-style: solid;
    border-width: 4px;

    height: 800px;

    width: 300px;
  }
}