@use '../../base/styles/values.scss' as v;

.Template {
  .Footer {
    align-items: center;

    background-color: #EEEEEE;

    // border-color: v.$SAKURA_BORDER;
    border-style: solid;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 2px;

    // color: v.$SAKURA_TEXT;
    display: flex;
    height: 80px;
    justify-content: center;

    margin-top: auto;

    // Tempalte 에서 양옆 10px 정도를 잘랐다
    width: 100%;
  }
}