@use '../../base/styles/values.scss' as v;

.Template {
  .PitchRecordPage {
    align-items: center;
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;

    .title_Page {
      font-size: 28px;
      font-weight: 700;

      margin-top: 12px;
    }

    .body_Page {
      display: flex;
      flex-direction: row;

      height: 100%;
      margin-top: 24px;
      
      width: fit-content;      

      .gameList_Page {
        display: flex;
        flex-direction: column;
  
        height: fit-content;
  
        width: fit-content;
      }

      .gameRecord_Page {
        display: flex;
        flex-direction: column;

        height: fit-content;

        margin-left: 60px;
        min-width: 1000px;
        width: fit-content;
      }
    }
  }
}